body {
    background-color: #f0f4f8;
}

input, select {
  font-size: 12px;
  border: 2px solid black;
  border-radius: 8px;
  outline: none;
  background-color: #f0f4f8;
  color: #333;
  box-sizing: border-box;
}

option{
    font-family :'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;

}

footer{
    border: 1px solid black;
    padding-bottom : 0px;
    margin-bottom: 0px  ;
}

button {
    border-radius: 5px;
    font-family :'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0f4f8;
}
#title {
    font-family :'Courier New', Courier, monospace;
    text-align : center;
    font-size : 40px;
    font-weight: bold;
    background-color : #f0f4f8;
    margin : 130px 0px 20px;
    text-shadow: 1px 2px;
}
#mainbox {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px auto;          /* otomatis center */
    background-color: hsl(350, 40%, 90%);
    border-radius: 10px;
    box-shadow: 4px 6px;
    border: 2px solid black;
    max-width: 500px;           /* biar ga kepanjangan di PC */
    width: 90%;                 /* biar fleksibel di HP */
    padding: 15px;              /* kasih ruang dalam */
}


#inputNumber{
    text-align : center;
    padding-top : 12px;
    padding-bottom : 12px;
}

#selectUnit0{
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
}


#buttons{
    text-align: center;
    margin-bottom: 0px;
    display : grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom : 12px;
    padding-top : 8px;
 
}

#convertButton {
    padding-left : 175px;

}
#swapButton {
    padding-right : 175px;
  
}


.box{
    padding : 5px;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.output {
    text-align: center;
}

#outputFormula {
    padding-top : 5px;
    padding-bottom: 12px;
}


